.Contact {
  @apply w-full md:w-96 md:max-w-full mx-auto bg-white  rounded-xl mt-40;
}

.Contact-container {
  @apply p-6 border border-gray-300 sm:rounded-md;
}

.Contact-name {
  @apply block mb-6;
}

.Contact-name span {
  @apply text-gray-700;
}
.Contact-detail input {
  @apply block
    w-full
    mt-1
    border-gray-300
    rounded-md
    shadow-sm
    focus:border-indigo-300
    focus:ring
    focus:ring-indigo-200
    focus:ring-opacity-50
    p-2
    outline-none;
}
.Contact-detail textarea {
  @apply block
    w-full
    mt-1
    border-gray-300
    rounded-md
    shadow-sm
    focus:border-indigo-300
    focus:ring
    focus:ring-indigo-200
    focus:ring-opacity-50
    p-2
    outline-none;
}

.Contact-button {
  @apply mb-6;
}
.Contact-button .btn {
  @apply h-10
    px-5
    text-indigo-100
    bg-gray-400
    rounded-lg
    transition-colors
    duration-150
    hover:bg-sky-700
    transition
    duration-700;
}
