.create {
  @apply w-1/2  md:max-w-full mx-auto bg-white mt-32 rounded-xl;
}

.create-container {
  @apply p-6 border border-gray-300 sm:rounded-md;
}

.create form {
  @apply block;
}

.create form .form-container {
  @apply py-2 flex justify-between;
}

.create form .form-container .createCol {
  @apply m-10 w-1/2;
}

.create-tittle {
  @apply text-sky-700 text-3xl mb-2 text-center;
}

.create-detail input {
  @apply block
    w-full
    mt-1
    border-gray-300
    rounded-md
    shadow-sm
    focus:border-indigo-300
    focus:ring
    focus:ring-indigo-200
    focus:ring-opacity-50
    p-2
    outline-none;
}
.create-detail textarea {
  @apply block
    w-full
    mt-1
    border-gray-300
    rounded-md
    shadow-sm
    focus:border-indigo-300
    focus:ring
    focus:ring-indigo-200
    focus:ring-opacity-50
    p-2
    outline-none;
}

.create-button {
  @apply flex  my-6;
}

.create-button .btn {
  @apply m-auto
    h-10
    px-10
    text-indigo-100
    bg-gray-400
    rounded-lg
    transition-colors
    duration-150
    hover:bg-sky-700
    transition
    duration-700;
}

.login-footer .login-footer-link {
  @apply text-sky-700  border-sky-700 border-b;
}

.createErrorContainer {
  @apply min-w-full m-0 font-thin h-16 text-red-500 text-sm;
}
.createError {
  @apply m-0 w-full;
}
